#container_detail {
    /* 默认不显示 */
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

#div_detail {
    user-select: text;
    background-color: #383838a0;
    display: grid;
    grid-template-columns: 400px 500px 400px;
    grid-column-gap: 1px;
    grid-template-rows: 640px;
}

#div_detail_1, #div_detail_2, #div_detail_3 {
    background-color: #11111190;
}

#div_detail_1_content, #div_detail_2_content, #div_detail_3_content {
    margin: auto 10px;
}

#div_detail_1_content {}

#div_detail_2_content {}

#div_detail_3_content {}
