#div_head_table {
    /* 滚动条宽度 */
    padding-right: 15px;
}

#head_table {
    width: 100%;
    -webkit-border-vertical-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
}

.ht {
    height: 30px;
}

#thead tr th, #tbody tr td {
    padding: 0px;
}
