#div_option {
    margin: 0px 0px 5px 0px;
}

#option {
    padding: 0px 0px 5px 0px;
    color: #ffffff;
}

select {
    color: #ffffff;
    background-color: #00000000;
    border: 1px solid #88888844;
}

option {
    background-color: #000000bb;
}
