#div_head_table {
  /* 滚动条宽度 */
  padding-right: 15px;
  height: 30px;
}

#head_table {
  width: 100%;
  -webkit-border-vertical-spacing: 0px;
  -webkit-border-horizontal-spacing: 1px;
}

#thead tr {
  /* 和 div_head_table height 一样 */
  height: 30px;
}
