html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #aaaaaaaa;
    font-size: 14px;
    user-select: none;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    filter: brightness(0.2);
    background-size: cover;
    background-image: url('background.jpg?180604');
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
}
